.git
.github
docs
scripts
deploy
tests
benchmarks
examples
src
include
CMakePresets.json
.clang-format
.gitignore
README.md
build/*
!build/x86_64/
!build/x86_64/uring/
!build/x86_64/uring/veloco-httpd
!build/aarch64/
!build/aarch64/uring/
!build/aarch64/uring/veloco-httpd
